<div class="container">
  <div class="create-new-post" data-controller="posts" data-action="click->posts#create">
    Create
  </div>
  <div id="post-form"></div>
  <ul class="posts">
    <% @posts.each do |post| %>
    <%= render "show", post:post%>
    
    <li id="edit_id_<%= post.id%>" style="display:none">
      <%= render  "edit"  , post: post %>
    </li>
    <% end %>
  </ul>
  <div class="d-flex justify-content-center">
    <%= paginate @posts%>
  </div>
</div>