

 .modal-wrapper{
    /* position: relative; */
    text-align: center;

 }
 .modal-inner{
    position: fixed;
    background-color: beige;
    left: 50%;
    z-index: 1;
    color: red;
    transform: translateX(-50%);
    border-radius: 5px;
    text-align: center;
    
 }
  .modal-inner p{
    margin-bottom: 0;
  }

  .custom-btn{
   background-color: white;
   padding: 8px 16px;
   border-radius: 5px;
   max-width:fit-content

  }